<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlace de Verificación Expirado</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans bg-gray-900 flex items-center justify-center min-h-screen p-4">
    <div class="bg-gray-800 text-white rounded-lg shadow-lg p-6 max-w-lg w-full">
        <h1 class="text-2xl font-bold text-red-500 mb-4">¡Ups! El Enlace de Verificación ha Expirado</h1>
        <p class="text-blue-200 mb-4">El enlace de verificación que has utilizado ya no es válido. Esto puede ocurrir si el enlace fue usado después de su tiempo de expiración o si ya fue utilizado anteriormente.</p>
        <p class="text-blue-200 mb-4">No te preocupes, puedes solicitar un nuevo enlace de verificación a continuación:</p>
        <ul class="list-disc list-inside mb-4 text-blue-200">
            <li>Solicita un nuevo correo de verificación y sigue el enlace para activar tu cuenta</li>
        </ul>
        <a href="http://localhost:4200/login" class="bg-blue-600 text-white px-4 py-2 rounded-lg inline-block hover:bg-blue-700 mt-4">Solicitar un Nuevo Enlace de Verificación</a>
        <p class="text-blue-300 mt-4 text-sm">Si necesitas más ayuda, por favor contacta a nuestro equipo de soporte.</p>
    </div>
</body>
</html>
